body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
}

.one{
    width: 100%;
    height: 100vh;
    background-image: url('static/images/slide-image02.jpg');
    position: relative;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1, p {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional styles can be added as needed */
